body {}

h1 {
  text-align: center;
  color: brown;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 70px;
}

h2 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

p {
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  color: #000033;
}

div {
  background-image: url("brown.jpg");
  background-attachment: absolute;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background: url(brown.jpg) no-repeat center center fixed;
  margin: 80px;
  padding: 50px 40px;
}

.brown {
  color: brown;
}



.form {
  padding: 10px;
  margin: 50px;
  background-color: orange;
  position: fixed;
  bottom: -50px;
  right: 10px;
  width: 400px;
  height: 40px;
  border: 5px solid brown;
  font-family: 'Dancing Script', cursive;
  font-size: 19px;
}

.button {
    margin-left: 5px;
    border-radius: 20px;
    color: brown;
}
.cast {
    padding: 20px;
    margin: 50px;
    margin-bottom: 75px;
    height: 500px;
    background-color: #99ff99;
    border-radius: 50px;
}
#couple {
    padding-right: 50px;
    padding-left: 10px;
    float: left;
}
ul {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: left;
    color: white;
}
  
#tomandjerry1 {
  float: right;
  
}

.paragraph {
  height: 405px;
}

